Source: csven
Section: base
Priority: optional
Maintainer: rsvzz <ronald_soft88@outlook.com>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, pkg-config, cargo (>=1.85), rustc (>=1.85), libgtk-4-dev, libadwaita-1-dev
Standards-Version: 4.5.0
Homepage: https://github.com/rsvzz/csven-rs

Package: csven
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-4-1, libadwaita-1-0
Description: CSVEN allows you to add an English word to mess it up and put it back together to learn how to write it through a game
